*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0px;
    outline: none;
    box-sizing: border-box;
}

/* Inporting fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Variables */
:root {
    --primary-background-color: #FFFFFF;
    --primary-border-color: #E5E7F2;
    --secondary-background-color: #f2f3f9da;
    --task-container-width: 400px;
}

/* Actual code starts here */

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--secondary-background-color);
}

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-border-color);
}

.primary-task-container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    flex-grow: 1;
    font-family: 'Lato', sans-serif;
}

.heading-container {
    display: flex;
    position: sticky;
    top: 0;
    background-color: var(--primary-background-color);
    height: 2.5rem;
    padding: 0 4rem;
    flex-shrink: 0;
    min-width: 100vw;
    width: max-content;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.07);
}

.task-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    width: var(--task-container-width);
    color: #394158cd;
    flex-shrink: 0;
}

.task-name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6E8F2;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    font-size: .9rem;
    font-weight: 600;
}

.main-task-container {
    display: flex;
    flex-grow: 1;
    padding: 0 4rem;
}

.task-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 7px;
    gap: 7px;
    width: 400px;
    border-right: 1px solid var(--primary-border-color);
    flex-shrink: 0;
}

.task-container:last-child {
    border-right: none !important;
}